<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-item routerLink="/home" lines="none" detail="false" style="--background: transparent;">
        <ion-img style="width: 65%; margin: auto;" src="../../assets/xd.png" alt="logo"></ion-img>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/catalogo">
        <ion-label>Catálogo</ion-label>
      </ion-item>
      <ion-item routerLink="/sobre-nos">
        <ion-label>Sobre nós</ion-label>
      </ion-item>
      <ion-item routerLink="/contato">
        <ion-label>Contato</ion-label>
      </ion-item>
      <ion-item routerLink="/formas-de-pagamento">
        <ion-label>Formas de Pagamento</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Conteúdo principal -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar style="--background: #3c2918;">
      <ion-buttons slot="start">
        <ion-menu-button style="color: whitesmoke;"></ion-menu-button> <!-- Botão para abrir o menu -->
      </ion-buttons>
      <ion-title style="color:#d69d69; text-align: justify; margin-left: 30px;">
        Emporio da Roça GH
       </ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="showSearch" class="search-container">
    <ion-searchbar [(ngModel)]="searchQuery" placeholder="Pesquise produtos..."></ion-searchbar>
  </div>
  <ion-content class="ion-padding page-background">
    <h2 style="font-weight: bold; color: #522F0F;">Formas de Pagamento Aceitas</h2>
    
    <p>No <strong>Empório GH</strong>, oferecemos diversas opções para facilitar suas compras:</p>
    
    <div class="payment-methods">
      <i class="fas fa-credit-card payment-icon" style="color: #4caf50;"></i> <!-- Verde -->
      <i class="fab fa-cc-visa payment-icon" style="color: #1a73e8;"></i> <!-- Azul Visa -->
      <i class="fab fa-cc-mastercard payment-icon" style="color: #ff4b00;"></i> <!-- Laranja MasterCard -->
      <i class="fab fa-cc-amex payment-icon" style="color: #2e77b9;"></i> <!-- Azul AMEX -->
      <i class="fab fa-cc-diners-club payment-icon" style="color: #00bcd4;"></i> <!-- Azul Diners -->
      <i class="fab fa-cc-paypal payment-icon" style="color: #003c71;"></i> <!-- Azul PayPal -->
    </div>
  
    <h3 style="font-weight: bold; color: #522F0F;">Aceitamos:</h3>
    <ul>
      <li>Cartões de Crédito</li>
      <li>Cartões de Débito</li>
      <li>Boleto Bancário</li>
      <li>Transferências</li>
      <li><strong>PIX</strong>: O pagamento mais rápido e prático!</li>
    </ul>
  
    <h4 style="font-weight: bold; color: #522F0F;">1. Cartão de Crédito</h4>
    <p>
      Trabalhamos em <strong>parceria com as principais bandeiras de cartão de crédito</strong> utilizadas no Brasil: 
      Visa, MasterCard, American Express, Elo e Hipercard.
    </p>
    <p>
      Além disso, oferecemos a possibilidade de <strong>dividir o pagamento em até dois cartões de crédito diferentes</strong>.
    </p>
    <p>
      Assim que o pagamento for confirmado, o que leva poucos minutos, iniciaremos a separação do pedido.
    </p>
  
    <h4 style="font-weight: bold; color: #522F0F;">2. Boleto Bancário</h4>
    <p>
      Escolhendo essa opção, um boleto bancário será emitido após a finalização do pedido e enviado via e-mail.
    </p>
    <p>
      Fique ligado à data de validade do boleto, pois, após essa data, não será possível efetuar o pagamento e o pedido 
      deverá ser realizado novamente.
    </p>
    <p>
      A separação do pedido será iniciada assim que o pagamento for confirmado, o que ocorre no dia útil seguinte à sua realização.
    </p>
  
    <h4 style="font-weight: bold; color: #522F0F;">3. PIX</h4>
    <p>
      O método mais rápido e prático! Ao escolher pagar com PIX, o pagamento é confirmado instantaneamente, permitindo o início imediato da preparação do seu pedido.
    </p>
  
    <h4 style="font-weight: bold; color: #522F0F;">4. AME Digital</h4>
    <p>
  
    <p>Escolha a forma de pagamento que melhor se adapta a você e aproveite suas compras no <strong>Empório GH</strong>.</p>
    
  <h3 style="font-weight: bold; color: #522F0F;">Política de Devolução e Reembolso</h3>
    <p>No <strong>Empório GH</strong>, a sua satisfação é nossa prioridade. 
    Caso você não fique satisfeito com a sua compra, aceitamos devoluções em até 7 dias após a entrega do produto, 
    desde que ele esteja em sua embalagem original e sem sinais de uso.</p>
    <p>Para solicitar um reembolso, entre em contato com nosso atendimento ao cliente, 
    que estará à disposição para ajudá-lo no processo.</p>
  </ion-content>
  <ion-footer>
    <ion-toolbar style="justify-content: space-around; --background: #522f0f;">
      <ion-button (click)="toggleSearch()" fill="clear" class="spaced-button">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      
  
      <ion-button href="/catalogo" fill="clear" class="spaced-button">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-button>
  
      <ion-button href="/home" fill="clear" class="spaced-button">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
  
      <ion-button href="/carrinho" fill="clear" class="spaced-button">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
  
      <ion-button href="/login" fill="clear" class="spaced-button">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
  