<ion-header>
  <ion-toolbar>
    <ion-title>Redefinir Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm" (ngSubmit)="resetSenha()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched">
      <small *ngIf="resetForm.get('email')?.errors?.['required']">Email é obrigatório</small>
      <small *ngIf="resetForm.get('email')?.errors?.['email']">Email inválido</small>
    </div>
    <ion-button expand="block" type="submit" [disabled]="resetForm.invalid">
      Enviar Link de Redefinição
    </ion-button>
  </form>
</ion-content>
